@model IEnumerable<MvcMoviesCore.Models.Person>

@{
    ViewData["Title"] = "Geburtstage";
}

<h2>
    Geburtstag(e) @ViewData["BirthDay"]
</h2>
<form method="get" class="form-inline">
    <p>
        Geburtstag:
        <input type="date" name="birthday" class="form-control" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> suchen
        </button>
    </p>
    <p>
        Jahr:
        <input type="number" name="year" class="form-control" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> suchen
        </button>
    </p>
    <p>
        <input type="checkbox" id="combine" name="combine" class="form-control" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Aktuelles Alter
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Obit)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorsAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> @*|*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            @foreach (var movies in item.MoviesPerson)
            {
                <tr>
                    <td>.</td>
                    <td>
                        <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movies.MoviesId">@Html.DisplayFor(movie => movies.Movies.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(movie => movies.Movies.ActorsAge)
                    </td>
                    <td>
                        @Html.DisplayFor(movie => movies.Practices)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>