@model IEnumerable<Person>

@{
    ViewData["Title"] = "Geburtstage";
    var originalFileDirectory = ViewData["OriginalFileDirectory"].ToString();
}

<h2>
    Geburtstag(e) @ViewData["BirthDay"]
</h2>
<form method="get">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="birthday">Geburtstag</label>
            <input type="date" name="birthday" id="birthday" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="year">Jahr</label>
            <input type="number" name="year" class="form-control" min="1900" max="@DateTime.Now.Year" placeholder="1969" />
        </div>
        <div class="form-group col-md-2" style="text-align: center">
            <input class="form-check-input" type="checkbox" id="combine" name="combine" />
            <label class="form-check-label" for="combine">exaktes Datum</label>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-info" title="suchen">
                <i class="fa-solid fa-magnifying-glass fa-beat" style="color: yellow; --fa-animation-duration: 2s"></i>
            </button>
        </div>
    </div>
</form>
<table class="table" id="birthdayTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Aktuelles Alter
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var imgSrc = originalFileDirectory + "/" + @item.Image;
            <tr>
                <td>
                    <img src="@imgSrc" title="@item.Name" style="max-width: 100%; max-height: 50px" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorsAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex.Name)
                </td>
                @* <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td> *@
            </tr>
            @foreach (var movies in item.MoviesPerson)
            {
                <tr>
                    <td>.</td>
                    <td>
                        <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movies.MoviesId">@Html.DisplayFor(movie => movies.Movies.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(movie => movies.Movies.ActorsAge)
                    </td>
                    <td>
                        @Html.DisplayFor(movie => movies.Practices)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
{
   @*  <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#birthdayTable').DataTable({
                ordering: true,
                ajax: false,
                paging: false,
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
            });
        })
    </script> *@
}