@model IEnumerable<Person>

@{
    ViewData["Title"] = "Geburtstage";
    var originalFileDirectory = ViewData["OriginalFileDirectory"].ToString();
}

<h2>
    Geburtstag(e) @ViewData["BirthDay"]
</h2>
<form method="get">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="birthday">Geburtstag</label>
            <input type="date" name="birthday" id="birthday" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="year">Jahr</label>
            <input type="number" name="year" class="form-control" min="1900" max="@DateTime.Now.Year" placeholder="1969" />
        </div>
        <div class="form-group col-md-2" style="text-align: center">
            <input class="form-check-input" type="checkbox" id="combine" name="combine" />
            <label class="form-check-label" for="combine">exaktes Datum</label>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-info" title="suchen">
                <i class="fa-solid fa-magnifying-glass fa-beat" style="color: yellow; --fa-animation-duration: 2s"></i>
            </button>
        </div>
    </div>
</form>
<table class="table" id="birthdayTable">
    <thead>
        <tr>
            <th></th>                                                   @* 0 *@
            <th>@Html.DisplayNameFor(model => model.Name)</th>          @* 1 *@
            <th>Aktuelles Alter</th>                                    @* 2 *@
            <th>@Html.DisplayNameFor(model => model.Nationality)</th>   @* 3 *@
            <th>@Html.DisplayNameFor(model => model.PersonType)</th>    @* 4 *@
            <th>@Html.DisplayNameFor(model => model.Height)</th>        @* 5 *@
            <th>@Html.DisplayNameFor(model => model.Weight)</th>        @* 6 *@
            <th>@Html.DisplayNameFor(model => model.Sex)</th>           @* 7 *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* 0 *@
                    <div class="image-container">
                        @if (item.PersonImages != null && item.PersonImages.Count > 0)
                        {
                            var imgSrc = originalFileDirectory + "/" + item.Id + "/" + item.PersonImages.FirstOrDefault(f=>f.IsMain==true).Name; 
                            <img src="@imgSrc" class="image-small" title="@item.Name" style="max-height: 50px" />
                            <img src="@imgSrc" class="image-large" />
                        }
                        else
                        {
                            <img src="/images/noimageexists.png" class="image-small" style="max-height: 50px" />
                        }
                    </div>
                </td>
                <td>
                    @* 1 *@
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.ActorsAge)</td>                                                  @* 2 *@
                <td>@Html.DisplayFor(modelItem => item.Nationality.Name)</td>                                           @* 3 *@
                <td>@Html.DisplayFor(modelItem => item.PersonType.Name)</td>                                            @* 4 *@
                <td>@Html.DisplayFor(modelItem => item.Height)</td>                                                     @* 5 *@
                <td>@Html.DisplayFor(modelItem => item.Weight)</td>                                                     @* 6 *@
                <td>@Html.DisplayFor(modelItem => item.Sex.Name)</td>                                                   @* 7 *@
            </tr>
            @foreach (var movies in item.MoviesPerson)
            {
                <tr>
                    <td>&nbsp;</td>                                                                                     @* 0 *@
                    <td>&nbsp;</td>                                                   @* 1 @Html.DisplayFor(modelItem => item.Name) *@
                    <td>
                        @* 2 *@
                        <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movies.MoviesId">
                            @Html.DisplayFor(movie => movies.Movies.Name)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(movie => movies.Movies.ActorsAge)</td>                                         @* 3 *@
                    <td>@Html.DisplayFor(modelItem => item.PersonType.Name)</td>                                        @* 4 *@
                    <td>
                        @* 5 *@
                        @if (string.IsNullOrEmpty(movies.Practices))
                        {
                            @Html.DisplayFor(movie => movies.MovieRole.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(movie => movies.Practices)
                        }
                    </td>
                    <td></td>                                                                                           @* 6 *@
                    <td></td>                                                                                           @* 7 *@
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
{
    <partial name="_DataTableScripts" />
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            $('#birthdayTable').DataTable({
                ordering: true,
                ajax: false,
                paging: false,
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                // order: [
                //     [4, 'asc'],
                //     [1, 'asc']
                // ],
                orderable: false,
                ordering: false,
                // columnDefs: [
                //     { 'orderable': false, 'targets': 0 }
                // ],
            });

            $('#birthdayTable tbody').on('mouseenter', '.image-container', function () {
                onMouseEnter(this);
            });

            $('#birthdayTable tbody').on('mouseleave', '.image-container', function () {
                onMouseLeave(this);
            });
        })
    </script>
}