@model global::MvcMoviesCore.Models.Person

@{
    ViewData["Title"] = "Details";
}
<div>
    <h2>Details</h2>
    <hr />
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Obit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Obit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActorsAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActorsAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex.Name)
        </dd>
    </dl>
    <ul class="nav nav-tabs">
        <li>
            <a data-toggle="tab" href="#movies" class="nav-link nav-link-teal active" style="border: 1px solid #00677f">Filme</a>
        </li>
        <li>
            <a data-toggle="tab" href="#scenes" class="nav-link nav-link-violett" style="border: 1px solid rgb(108, 27, 123)">Drehpartner</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="movies" class="tab-pane active">
            <table class="table display" id="personDetails">
                <thead>
                    <tr>
                        <th>
                            Film
                        </th>
                        <th>
                            Erscheinungsjahr
                        </th>
                        <th>
                            Alter
                        </th>
                        <th>
                            Praxis
                        </th>
                        <th>
                            Bewertung
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MoviesPerson)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Movies.Id">
                                    @Html.DisplayFor(modelItem => item.Movies.Name)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Movies.YearOfPublication)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Movies.ActorsAge)
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.Practices))
                                {
                                    @Html.DisplayFor(modelItem => item.MovieRole.Name)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Practices)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Movies.OnWatch)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="scenes" class="tab-pane">
            <table id="personScenes" class="table hover cell-border compact stripe display">
                <thead>
                    <tr>
                        <th class="col-3">Person</th>
                        <th class="col-4">Film</th>
                        <th class="col-2">Szene</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#personDetails').DataTable({
                ordering: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                iDisplayLength: 25,
                fixedHeader: {
                    header: true,
                }
            });
            const personId = '@Model.Id';
            $('#personScenes').DataTable({
                ajax: {
                    url: appRootPath + '/api/PersonApi/' + personId,
                    dataSrc: ''
                },
                columns: [
                    { data: 'Name' },
                    { data: 'Film' },
                    { data: 'Szene' }
                ],
                ordering: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                iDisplayLength: 25,
                fixedHeader: {
                    header: true,
                }

            });
        })
    </script>
}