@model global::MvcMoviesCore.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Edit";
    var personTypesId = ViewData["PersonTypesId"] as IEnumerable<SelectListItem>;
    var sexId = ViewData["SexId"] as IEnumerable<SelectListItem>;
    var nationalityId = ViewData["NationalityId"] as IEnumerable<SelectListItem>;
    var adultPersonType = ViewData["AdultPersonType"].ToString();
    var imgSrc = ViewData["ImageSource"].ToString();
    var imagePath = ViewData["ImagePath"].ToString();
    var personName = Model.Name;
    var minValue = Model.Birthday.GetValueOrDefault().Year + 18;
    var maxValue = DateTime.Now.Year;
}

<h2>@Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.ActorsAge))</h2>

<h4>bearbeiten</h4>
<hr />
<form class="card-form-horizontal" method="post" enctype="multipart/form-data" id="editPersonForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" id="id" />
    <input type="hidden" asp-for="PreviousPage" />
    <input type="hidden" asp-for="Image" value="1" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        @if (Model.Images == null || Model.Images.Count == 0)
                        {
                            <div class="image-container">
                                <img src="~/images/noimageexists.png" class="image-small" style="display:block; margin-left:auto; margin-right:auto" />
                            </div>
                        }
                        else
                        {
                            @if (Model.Images.Count == 1)
                            {
                                var images = Model.Images.ToList();
                                var singleImgSrc = $"{imagePath}/{images[0].PersonId}/{images[0].Name}";
                                <div class="image-container" >
                                    <img class="image-small" src="@singleImgSrc" style="display:block; margin-left:auto; margin-right:auto; max-height:290px; max-width:270px" />
                                    <img class="image-large" src="@singleImgSrc" />
                                </div>
                            }
                            else
                            {
                                <div class="w3-content w3-section">
                                    @foreach (var image in Model.Images)
                                    {
                                        var src = $"{imagePath}/{image.PersonId}/{image.Name}";
                                        <img class="mySlides w3-animate-fading" src="@src" style="display:block; margin-left:auto; margin-right:auto; max-height:290px; max-width:270px" />
                                    }
                                </div>
                            }
                        }
                    </div>
                </div> 
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="name" class="form-label">Name:</label>
                                        <input type="text" asp-for="Name" id="name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger" id="name"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="sexId" class="form-label">Geschlecht:</label>
                                        <select asp-for="SexId" class="form-select" asp-items="@sexId" id="sexId"></select>
                                        <span asp-validation-for="SexId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="birthday" class="form-label">Geburtstag:</label>
                                        <input type="date" asp-for="Birthday" class="form-control" id="birthday" />
                                        <span asp-validation-for="Birthday" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="obit" class="form-label">Todestag:</label>
                                        <input type="date" asp-for="Obit" class="form-control" id="obit" />
                                        <span asp-validation-for="Obit" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="personTypeId" class="form-label">Rolle:</label>
                                        <select asp-for="PersonTypesId" class="form-select" asp-items="@personTypesId" id="personTypeId"></select>
                                        <span asp-validation-for="PersonTypesId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="nationalityId" class="form-label">Nationalität:</label>
                                        <select asp-for="NationalityId" class="form-select" asp-items="@nationalityId" id="nationalityId"></select>
                                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="height" class="form-label">Größe:</label>
                                        <input asp-for="Height" class="form-control" id="height" />
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="weight" class="form-label">Gewicht:</label>
                                        <input type="number" asp-for="Weight" class="form-control" id="weight" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="classification" class="form-label">Klassifizierung:</label>
                                        <input type="number" asp-for="Classification" class="form-control" min="1" max="12" id="classification" />
                                        <span asp-validation-for="Classification" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="display:none" id="adultStuff">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cupSize" class="form-label">Cupsize:</label>
                                        <input asp-for="CupSize" class="form-control" id="cupSize" />
                                        <span asp-validation-for="CupSize" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="fakeBoobs" class="form-label">Fakeboobs:</label>
                                        <input type="checkbox" asp-for="FakeBoobs.Value" class="form-checkbox" id="fakeBoobs" />
                                        <span asp-validation-for="FakeBoobs" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="startOfBusiness" class="form-label">Start of Business:</label>
                                        <input type="number" asp-for="StartOfBusiness" class="form-control" id="startOfBusiness" min="@minValue" max="@maxValue" />
                                        <span asp-validation-for="StartOfBusiness" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="endOfBusiness" class="form-label">End of Business:</label>
                                        <input type="number" asp-for="EndOfBusiness" class="form-control" id="endOfBusiness" />
                                        <span asp-validation-for="EndOfBusiness" class="text-danger" min="@minValue" max="@maxValue"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row card-form-horizontal">
        <div class="col-sm-1">
            @* <p> *@
            <a href="@Model.PreviousPage" title="zurück">
                <i class="fa-regular fa-circle-left fa-shake fa-2xl" style="color: #74C0FC; --fa-animation-duration: 2s;"></i>
            </a>
            @* </p> *@
        </div>
        <div class="col-sm-1">
            &nbsp;|&nbsp;
        </div>
        <div class="col-sm-1">
            @* <p> *@
            <button title="speichern" class="fa-regular fa-floppy-disk fa-beat fa-2xl" style="color: #63E6BE; --fa-animation-duration: 2s; border: none; background-color: Transparent; " />
            @* </p> *@
        </div>
    </div>
</form>

<hr />
<div class="col-md-4">
    <table id="imagesTable" class=" table display">
        <thead>
            <tr>
                <th class="col-md-2">&nbsp;</th>
                <th class="col-md-1" sytle="text-align: center">Hauptfoto</th>
                <th class="col-md-1">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Images)
            {
                var src = $"{imagePath}/{item.PersonId}/{item.Name}";
                <tr>
                    <td>
                        <div class="image-container" onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                            <img src="@src" class="image-small" style="height:200px">
                            <img src="@src" class="image-large">
                        </div>
                    </td>
                    <td>
                        <input type="radio" name="isMainImage" value="@item.Number" checked="@item.IsMain" style="display:block; margin-left:auto; margin-right:auto" class="is-main-image" />
                    </td>
                    <td>
                        <button id="deleteImage" style="background-color: transparent; color: red; border: hidden"
                                onClick="deleteImage('@item.Id', '@item.PersonId')" title="Bild löschen">
                            <i class="fa-solid fa-trash-can fa-fade fa-lg" style="color: #ff0000; --fa-animation-duration: 2s;"></i>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <input id="newImage" asp-for="SelectedFile" type="file" accept="image/*" class="dropify" />
                </td>
                <td>&nbsp;</td>
                <td>
                    <button id="addImage" style="background-color: transparent; color: red; border: hidden"
                            onClick="addNewImage()" title="Bild hinzufügen">
                        <i class="fa-regular fa-square-plus fa-beat fa-lg" style="color: #74C0FC;--fa-animation-duration: 2s;"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
</div>



<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/js/dropifyimageupload.js"></script>

@section Scripts {

    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            var imageAttributes = {
                imageContent: '@imgSrc',
                imageName: '@Model.Image'
            };
            var imageAttributes = {};
            var customMessages = {
                'default': '<span style="font-size:20px;">Drag & Drop hier</span>',
                'remove': 'Löschen',
                'replace': 'Drag & Drop oder hier Klicken zum ersetzen',
            };
            dropifyImage.DrawImage(imageAttributes, customMessages);

            var adultPersonType = '@adultPersonType';
            var modelPersonType = '@Model.PersonTypesId.ToString()';

            if (modelPersonType === adultPersonType) {
                $('#adultStuff').show();
            }
            else {
                $('#adultStuff').hide();
            };

            $('#personTypeId').change(function () {
                if ($('#personTypeId').val() === adultPersonType) {
                    $('#adultStuff').show();
                }
                else {
                    $('#adultStuff').hide();
                };
            });

            
            $('input:radio[name="isMainImage"]').on('click', function () {
                let value = $(this).val();
                $('#Image').attr('value', value);
            });
        });

        function save() {
            var person = {
                "Id": $('#id').val(),
                "Name": $('#name').val(),
                "NationalityId": $('#nationalityId').val(),
                "SexId": $('#sexId').val(),
                "Birthday": $('#birthday').val(),
                "Obit": $('#obit').val(),
                "PersonTypesId": $('#personTypeId').val(),
                "Height": $('#height').val(),
                "Weight": $('#weight').val(),
                "Classification": $('#classification').val(),
                "CupSize": $('#cupSize').val(),
                "FakeBoobs": $('#fakeBoobs').is(":checked"),
                "StartOfBusiness": $('#startOfBusiness').val(),
                "EndOfBusiness": $('#endOfBusiness').val(),
                "Image": $('#isMainImageValue').val(),
            }
            var url = appRootPath + '/api/PersonApi/Update';
            $.post(url, person, function () {
                Swal.fire({
                    icon: 'success',
                    text: 'Daten erfolgreich gespeichert.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })
                .fail(function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Daten konnten nicht gespeichert werden!',
                        footer: response.responseText
                    })
                });
        };

        function addNewImage() {
            let file = $('input[name="SelectedFile"]')[0].files[0];
            let formData = new FormData();
            if (file) {
                formData.append(file.name, file);
            }
            else { return; }

            let personId = $('#id').val();
            let url = appRootPath + '/api/PersonApi/SaveImage?personId=' + personId;
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("load", transferComplete);
            xhr.open('POST', url);
            xhr.send(formData);
            xhr.onreadystatechange = function () {
                if (xhr.readystate == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
            // location.reload();
        }

        function transferComplete() {
            console.log("The transfer is complete.");
            location.reload();
        }

        function deleteImage(id, personId) {
            Swal.fire({
                html: 'Bild löschen?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ja',
                cancelButtonText: 'Nein'
            }).then(function (result) {
                if (result.value) {
                    var url = appRootPath + '/api/PersonApi/DeleteImage?id=' + id + '&personId=' + personId
                    $.ajax({
                        url: url,
                        type: 'POST',
                        async: false,
                        statusCode: {
                            404: function () {
                                alert("function not found");
                            }
                        },
                        success: function () {
                            Swal.fire({
                                icon: 'success',
                                text: 'Verknüpfung erfolgreich gelöscht.',
                                showConfirmButton: false,
                                timer: 2000
                            })
                            location.reload();
                        },
                    })
                };
            });
        }

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (x.length <= 0)
                return;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000); // Change image every 9 seconds
        }
    </script>
}