@model global::MvcMoviesCore.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Edit";
    var personTypesId = ViewData["PersonTypesId"] as IEnumerable<SelectListItem>;
    var sexId = ViewData["SexId"] as IEnumerable<SelectListItem>;
    var nationalityId = ViewData["NationalityId"] as IEnumerable<SelectListItem>;
    var adultPersonType = ViewData["AdultPersonType"].ToString();
    var imgSrc = ViewData["ImageSource"].ToString();
    var imagePath = ViewData["ImagePath"].ToString();
    var personName = Model.Name;
    var minValue = Model.Birthday.GetValueOrDefault().Year + 18;
    var maxValue = DateTime.Now.Year;
}

<h2>@Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.ActorsAge))</h2>

<h4>bearbeiten</h4>
<hr />
<form class="card-form-horizontal" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" id="id" />
    <input type="hidden" asp-for="PreviousPage" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body" style="max-height: 278px">
                        <div class="image-container">
                            <input asp-for="SelectedFile" type="file" accept="image/*" class="dropify" data-default-file="@imgSrc" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="name" class="form-label">Name:</label>
                                        <input type="text" asp-for="Name" id="name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger" id="name"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="birthday" class="form-label">Geburtstag:</label>
                                        <input type="date" asp-for="Birthday" class="form-control" id="birthday" />
                                        <span asp-validation-for="Birthday" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="obit" class="form-label">Todestag:</label>
                                        <input type="date" asp-for="Obit" class="form-control" id="obit" />
                                        <span asp-validation-for="Obit" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="nationalityId" class="form-label">Nationalität:</label>
                                        <select asp-for="NationalityId" class="form-select" asp-items="@nationalityId" id="nationalityId"></select>
                                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="sexId" class="form-label">Geschlecht:</label>
                                        <select asp-for="SexId" class="form-select" asp-items="@sexId" id="sexId"></select>
                                        <span asp-validation-for="SexId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="personTypeId" class="form-label">Rolle:</label>
                                        <select asp-for="PersonTypesId" class="form-select" asp-items="@personTypesId" id="personTypeId"></select>
                                        <span asp-validation-for="PersonTypesId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="height" class="form-label">Größe:</label>
                                        <input asp-for="Height" class="form-control" id="height" />
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="weight" class="form-label">Gewicht:</label>
                                        <input type="number" asp-for="Weight" class="form-control" id="weight" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="classification" class="form-label">Klassifizierung:</label>
                                        <input type="number" asp-for="Classification" class="form-control" min="1" max="12" id="classification" />
                                        <span asp-validation-for="Classification" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="display:none" id="adultStuff">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cupSize" class="form-label">Cupsize:</label>
                                        <input asp-for="CupSize" class="form-control" id="cupSize" />
                                        <span asp-validation-for="CupSize" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="fakeBoobs" class="form-label">Fakeboobs:</label>
                                        <input type="checkbox" asp-for="FakeBoobs.Value" class="form-checkbox" id="fakeBoobs" />
                                        <span asp-validation-for="FakeBoobs" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="startOfBusiness" class="form-label">Start of Business:</label>
                                        <input type="number" asp-for="StartOfBusiness" class="form-control" id="startOfBusiness" min="@minValue" max="@maxValue" />
                                        <span asp-validation-for="StartOfBusiness" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="endOfBusiness" class="form-label">End of Business:</label>
                                        <input type="number" asp-for="EndOfBusiness" class="form-control" id="endOfBusiness" />
                                        <span asp-validation-for="EndOfBusiness" class="text-danger" min="@minValue" max="@maxValue"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-md-3">
                    <button title="speichern" class="fa-regular fa-floppy-disk fa-beat fa-2xl" style="color: #63E6BE; --fa-animation-duration: 2s; border: none; background-color: Transparent; " />
                    @* <button onclick="save()" title="speichern" class="fa-regular fa-floppy-disk fa-beat fa-2xl" style="color: #63E6BE; --fa-animation-duration: 2s; border: none; background-color: Transparent; " /> *@
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <table id="imagesTable">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Hauptfoto</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var image in Model.Images)
                        {
                            var src = $"{imagePath}/{image.Name}";
                            <td>
                                <div class="image-container">
                                    <img src="@src" class="image-small" style="max-height: 200px" />
                                    <img src="@src" class="image-large" />
                                </div>
                            </td>
                            <td>
                                <input type="radio" name="images" checked="@image.IsMain" />
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<p>
    <a asp-action="Index" title="zurück zur Liste">
        <i class="fa-regular fa-circle-left fa-shake fa-2xl" style="color: #74C0FC; --fa-animation-duration: 2s;"></i>
    </a>
</p>



@section Scripts {
    <script src="~/js/dropifyimageupload.js"></script>
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            var imageAttributes = {
                imageContent: '@imgSrc',
                imageName: '@Model.Image'
            };
            var customMessages = {
                'default': '<span style="font-size:20px;">Drag & Drop hier</span>',
                'remove': 'Löschen',
                'replace': 'Drag & Drop oder hier Klicken zum ersetzen',
            };
            dropifyImage.Draw(imageAttributes, customMessages);

            var adultPersonType = '@adultPersonType';
            var modelPersonType = '@Model.PersonTypesId.ToString()';

            if (modelPersonType === adultPersonType) {
                $('#adultStuff').show();
            }
            else {
                $('#adultStuff').hide();
            };

            $('#personTypeId').change(function () {
                if ($('#personTypeId').val() === adultPersonType) {
                    $('#adultStuff').show();
                }
                else {
                    $('#adultStuff').hide();
                };
            });

            $('#imagesTable tbody').on('mouseenter', '.image-container', function () {
                onMouseEnter(this);
            });

            $('#imagesTable tbody').on('mouseleave', '.image-container', function () {
                onMouseLeave(this);
            });
        });

        function save() {
            var fileName = "";
            if ($('.dz-filename').length != 0) {
                fileName = $('.dz-filename')[0].innerText;
            };
            var person = {
                "Id": $('#id').val(),
                "Name": $('#name').val(),
                "NationalityId": $('#nationalityId').val(),
                "SexId": $('#sexId').val(),
                "Birthday": $('#birthday').val(),
                "Obit": $('#obit').val(),
                "PersonTypesId": $('#personTypeId').val(),
                "Height": $('#height').val(),
                "Weight": $('#weight').val(),
                "Classification": $('#classification').val(),
                "CupSize": $('#cupSize').val(),
                "FakeBoobs": $('#fakeBoobs').is(":checked"),
                "StartOfBusiness": $('#startOfBusiness').val(),
                "EndOfBusiness": $('#endOfBusiness').val(),
                "Image": fileName,
                "SelectedFile": $('#SelectedFile').val(),
            }
            var url = appRootPath + '/api/PersonApi/Update';
            $.post(url, person, function () {
                Swal.fire({
                    icon: 'success',
                    text: 'Daten erfolgreich gespeichert.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })
                .fail(function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Daten konnten nicht gespeichert werden!',
                        footer: response.responseText
                    })
                });
        };
    </script>
}