@model IEnumerable<MvcMoviesCore.Models.Person>

@{
    ViewData["Title"] = "Personen";
}
<div class="container-fluid">
    <h2>Persons</h2>
    <p>
        <a asp-action="Create" title="Person hinzufügen">
            <i class="fa-regular fa-square-plus fa-beat fa-2xl" style="color: #63E6BE;  --fa-animation-duration: 2s;"></i>
        </a>
    </p>
    <hr />
    <table class="table" id="personIndex">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>          @*  0 *@
                <th></th>                                                   @*  1 *@
                <th>@Html.DisplayNameFor(model => model.Birthday)</th>      @*  2 *@
                <th>@Html.DisplayNameFor(model => model.Obit)</th>          @*  3 *@
                <th>@Html.DisplayNameFor(model => model.Nationality)</th>   @*  4 *@
                <th>@Html.DisplayNameFor(model => model.Height)</th>        @*  5 *@
                <th>@Html.DisplayNameFor(model => model.Weight)</th>        @*  6 *@
                <th></th>                                                   @*  7 *@
                <th>@Html.DisplayNameFor(model => model.PersonType)</th>    @*  8 *@
                <th>@Html.DisplayNameFor(model => model.Sex)</th>           @*  9 *@
                <th></th>                                                   @* 10 *@
                <th></th>                                                   @* 11 *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActorsAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Obit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen fa-bounce" style="color: #74C0FC; --fa-animation-duration: 2s;"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-regular fa-trash-can fa-shake" style="color: #ff0000; --fa-animation-duration: 2s;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#personIndex').DataTable({
                ordering: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                iDisplayLength: 10,
                fixedHeader: {
                    header: true,
                },
                columnDefs: [{
                    orderable: false,
                    targets: [10, 11]
                }],
                searchHighlight: true
            });
        })
    </script>
}