@*@model IEnumerable<MvcMoviesCore.Models.Person>*@
@using ReflectionIT.Mvc.Paging
@model             ReflectionIT.Mvc.Paging.PagingList<global::MvcMoviesCore.Models.Person>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="get" class="form-inline">
    <input type="text" name="filter" class="form-control" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<nav aria-label="Movies navigation">
    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Obit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BMI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Movies navigation">
    <vc:pager paging-list="@Model" />
</nav>