@model IEnumerable<MvcMoviesCore.Models.Person>

@{
    var headline = "Personen";
    ViewData["Title"] = "Personen";
    if (ViewData["FilterFor"] != null && !string.IsNullOrEmpty(ViewData["FilterFor"].ToString()))
    {
        headline += ViewData["FilterFor"].ToString();
    }
    var originalFileDirectory = ViewData["OriginalFileDirectory"];
}
<div class="container-fluid">
    <h2>@headline</h2>
    <p>
        <a asp-action="Create" title="Person hinzufügen">
            <i class="fa-regular fa-square-plus fa-beat fa-2xl" style="color: #63E6BE;  --fa-animation-duration: 2s;"></i>
        </a>
    </p>
    <hr />
    <table class="table" id="personIndex">
        <thead>
            <tr>
                <th style="width: 50px">&nbsp;</th>                         @*  0 *@
                <th>@Html.DisplayNameFor(model => model.Name)</th>          @*  1 *@
                <th>&nbsp;</th>                                             @*  2 *@
                <th>@Html.DisplayNameFor(model => model.Birthday)</th>      @*  3 *@
                <th>@Html.DisplayNameFor(model => model.Obit)</th>          @*  4 *@
                <th>@Html.DisplayNameFor(model => model.Nationality)</th>   @*  5 *@
                <th>@Html.DisplayNameFor(model => model.Height)</th>        @*  6 *@
                <th>@Html.DisplayNameFor(model => model.Weight)</th>        @*  7 *@
                <th>&nbsp;</th>                                             @*  8 *@
                <th>@Html.DisplayNameFor(model => model.PersonType)</th>    @*  9 *@
                <th>@Html.DisplayNameFor(model => model.Sex)</th>           @* 10 *@
                <th>Filme</th>                                              @* 11 *@
                <th>&nbsp;</th>                                             @* 12 *@
                <th>&nbsp;</th>                                             @* 13 *@
            </tr>
        </thead>
        <a href=""></a>
    </table>
</div>

@section Scripts
{
    <partial name="_DataTableScripts" />
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            $('#personIndex').DataTable({
                ajax: {
                    url: appRootPath + '/api/PersonApi',
                    dataSrc: ''
                },
                columns:
                    [
                        {
                            data: 'PersonImages',
                            render: function (data, type, full) {
                                if (type == 'display') {
                                    if (data.length > 0) {
                                        let imgSrc = '@originalFileDirectory/' + data[0].PersonId + '/' + data[0].Name;
                                        return '<div class="image-container" >'
                                            + '<img src="' + imgSrc + '" class="image-small" style = "max-height: 50px" />'
                                            + '<img src="' + imgSrc + '" class="image-large" />'
                                            + '</div>';
                                    }
                                    else {
                                        return '<div class="image-container" >'
                                            + '<img src="/images/noimageexists.png" class="image-small" style = "max-height: 35px" />'
                                            + '<img src="/images/noimageexists.png" class="image-large" />'
                                            + '</div>';
                                    }
                                }
                                return '';
                            },
                            type: 'html'
                        },
                        {
                            data: 'Id',
                            render: function (data, type, full) {
                                if (type == 'display' && data) {
                                    let link = '@Url.Action("Details", "Person")' + '/' + data;
                                    return '<a href="' + link + '" >' + full["Name"];
                                    // return '<a asp-action="Details" asp-route-id="' + full["Id"] + '" >' + data + '</a>';
                                }
                                return '';
                            },
                            type: 'html'
                        },
                        {
                            data: 'ActorsAge',
                            type: 'html-num'
                        },
                        {
                            data: 'Birthday',
                            render: function (data, type, full) {
                                if (type = 'display' && data) {
                                    moment.locale('de');
                                    return moment(data).format('ll');
                                }
                                return '';
                            },
                            type: 'date'
                        },
                        {
                            data: 'Obit',
                            render: function (data, type, full) {
                                if (type = 'display' && data) {
                                    moment.locale('de');
                                    return moment(data).format('ll');
                                }
                                return '';
                            },
                            type: 'date'
                        },
                        {
                            data: 'Nationality.Name',
                            type: 'html'
                        },
                        {
                            data: 'Height',
                            type: 'html-num'
                        },
                        {
                            data: 'Weight',
                            type: 'html-num'
                        },
                        {
                            data: 'Classification',
                            type: 'html-num'
                        },
                        {
                            data: 'PersonType.Name',
                            type: 'html'
                        },
                        {
                            data: 'Sex.Name',
                            type: 'html'
                        },
                        {
                            data: 'MoviesPerson.length',
                            type: 'html-num'
                        },
                        {
                            data: 'Id',
                            render: function (data, type, full) {
                                if (type == 'display') {
                                    let link = '@Url.Action("Details", "Person")' + '/' + data;
                                    return '<a href="' + link + '" >'
                                        + '<i class="fa-solid fa-pen fa-bounce" style = "color: #74C0FC; --fa-animation-duration: 2s;" > </i>';
                                }
                                return '';
                            }
                        },
                        {
                            data: 'Id',
                            render: function (data, type, full) {
                                if (type == 'display') {
                                var id = "'" + data + "'";
                                var actor = "'" + full.Name + "'";
                                return '<button name="id" style="background-color: transparent; color: red; border: hidden" onClick="deletePerson(' + id + ', ' + actor + ')" title="Person löschen">' +
                                    '<i class="fa-regular fa-trash-can fa-shake" style = "color: #ff0000; --fa-animation-duration: 2s;" ></i>';
                                }
                                return '';
                            }
                        },
                    ],
                ordering: true,
                order: [[1, 'asc']],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                iDisplayLength: 10,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                columnDefs: [{
                    orderable: false,
                    targets: [0, 12, 13]
                }],
                searchHighlight: true,

            });

            $('#personIndex tbody').on('mouseenter', '.image-container', function () {
                onMouseEnter(this);
            });

            $('#personIndex tbody').on('mouseleave', '.image-container', function () {
                onMouseLeave(this);
            });

        })

        function deletePerson(id, actor) {
            Swal.fire({
                html: '<b>' + actor + '</b> löschen?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ja',
                cancelButtonText: 'Nein'
            }).then(function (result) {
                if (result.value) {
                    var url = appRootPath + '/api/PersonApi/Delete/' + id;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        async: false,
                        statusCode: {
                            404: function () {
                                alert("person not found");
                            }
                        },
                        success: function () {
                            $('#personIndex').DataTable().ajax.reload();
                            Swal.fire({
                                icon: 'success',
                                text: 'Person erfolgreich gelöscht.',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        },
                    })
                };
            });
        };
    </script>
}