@model IEnumerable<MvcMoviesCore.Models.Person>

@{
    var headline = "Personen ohne Bild";
    ViewData["Title"] = headline;
    var originalFileDirectory = ViewData["OriginalFileDirectory"];
}

<div class="container-fluid">
    <h2>@headline</h2>
    <hr />
    <table class="table" id="personIndex">
        <thead>
            <tr>
                <th style="width: 50px">&nbsp;</th>                         @*  0 *@
                <th>@Html.DisplayNameFor(model => model.Name)</th>          @*  1 *@
                <th>&nbsp;</th>                                             @*  2 *@
                <th>@Html.DisplayNameFor(model => model.Birthday)</th>      @*  3 *@
                <th>@Html.DisplayNameFor(model => model.Obit)</th>          @*  4 *@
                <th>@Html.DisplayNameFor(model => model.Nationality)</th>   @*  5 *@
                <th>@Html.DisplayNameFor(model => model.Height)</th>        @*  6 *@
                <th>@Html.DisplayNameFor(model => model.Weight)</th>        @*  7 *@
                <th>&nbsp;</th>                                             @*  8 *@
                <th>@Html.DisplayNameFor(model => model.PersonType)</th>    @*  9 *@
                <th>@Html.DisplayNameFor(model => model.Sex)</th>           @* 10 *@
                <th>Filme</th>                                              @* 11 *@
                @* <th>&nbsp;</th>*@                                              @* 12 *@
                @* <th>&nbsp;</th> *@                                             @* 13 *@
            </tr>
        </thead>
        <a href=""></a>
    </table>
</div>

@section Scripts
{
    <partial name="_DataTableScripts" />
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            $('#personIndex').DataTable({
                ajax: {
                    url: appRootPath + '/api/PersonApi/GetPersonsWithoutImage',
                    dataSrc: ''
                },
                columns:
                    [
                        {
                            data: 'Image',
                            render: function (data, type, full) {
                                if (type == 'display') {
                                    if (data) {
                                        let imgSrc = '@originalFileDirectory' + "/" + data;
                                        return '<div class="image-container" >'
                                            + '<img src="' + imgSrc + '" class="image-small" style = "max-height: 50px" />'
                                            + '<img src="' + imgSrc + '" class="image-large" />'
                                            + '</div>';
                                    }
                                    else {
                                        return '<div class="image-container" >'
                                            + '<img src="/images/noimageexists.png" class="image-small" style = "max-height: 35px" />'
                                            + '<img src="/images/noimageexists.png" class="image-large" />'
                                            + '</div>';
                                    }
                                }
                                return '';
                            },
                            type: 'html'
                        },
                        {
                            data: 'Id',
                            render: function (data, type, full) {
                                if (type == 'display' && data) {
                                    let link = '@Url.Action("Details", "Person")' + '/' + data;
                                    return '<a href="' + link + '" >' + full["Name"];
                                }
                                return '';
                            },
                            type: 'html'
                        },
                        {
                            data: 'ActorsAge',
                            type: 'html-num'
                        },
                        {
                            data: 'Birthday',
                            render: function (data, type, full) {
                                if (type = 'display' && data) {
                                    moment.locale('de');
                                    return moment(data).format('ll');
                                }
                                return '';
                            },
                            type: 'date'
                        },
                        {
                            data: 'Obit',
                            render: function (data, type, full) {
                                if (type = 'display' && data) {
                                    moment.locale('de');
                                    return moment(data).format('ll');
                                }
                                return '';
                            },
                            type: 'date'
                        },
                        {
                            data: 'Nationality.Name',
                            type: 'html'
                        },
                        {
                            data: 'Height',
                            type: 'html-num'
                        },
                        {
                            data: 'Weight',
                            type: 'html-num'
                        },
                        {
                            data: 'Classification',
                            type: 'html-num'
                        },
                        {
                            data: 'PersonType.Name',
                            type: 'html'
                        },
                        {
                            data: 'Sex.Name',
                            type: 'html'
                        },
                        {
                            data: 'MoviesPerson.length',
                            type: 'html-num'
                        },
                        // {
                        //     data: 'Id',
                        //     render: function (data, type, full) {
                        //         if (type == 'display') {
                        //             return '<a asp-action="Edit" asp-route-id="' + data + '" >'
                        //                 + '<i class="fa-solid fa-pen fa-bounce" style = "color: #74C0FC; --fa-animation-duration: 2s;" > </i>';
                        //             // + '< /a>';
                        //         }
                        //         return '';
                        //     }
                        // },
                        // {
                        //     data: 'Id',
                        //     render: function (data, type, full) {
                        //         if (type == 'display') {
                        //             return '<a asp-action="Delete" asp-route-id="' + data + '">'
                        //                 + '<i class="fa-regular fa-trash-can fa-shake" style = "color: #ff0000; --fa-animation-duration: 2s;" ></i>';
                        //             // + '< /a>'
                        //         }
                        //         return '';
                        //     }
                        // },
                    ],
                ordering: true,
                order: [[1, 'asc']],
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                iDisplayLength: 10,
            })
        });
    </script>
}