@model IEnumerable<Movies>

@{
    ViewData["Title"] = "Home Page";
    var imageSource = ViewData["ImageSource"];
}

<div class="container-fluid">
    <h2>Willkommen</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:#00bcd4">Neu</h5>
                    <div>
                        <table class="table table-striped" id="homeIndex">
                            <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Genre</th>
                                    <th>Datentäger</th>
                                    <th>Lageror</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                                        <td>
                                            <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RecordCarrier.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StorageLocation.Name)</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:#00bcd4">Heutige Geburtstage</h5>
                    <table class="table table-striped compact nowrap" id="birthdayTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Aktuelles Alter</th>
                                <th>Nationalität</th>
                                <th>Rolle</th>
                                <th>Geschlecht</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:#00bcd4">Heutige Todestage</h5>
                    <table class="table table-striped compact" id="obitTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Aktuelles Alter</th>
                                <th>Nationalität</th>
                                <th>Rolle</th>
                                <th>Geschlecht</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#homeIndex').DataTable({
                ordering: true,
                ajax: false,
                paging: false,
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
            });
            $('#birthdayTable').DataTable({
                ordering: true,
                ajax: {
                    url: appRootPath + '/api/PersonApi/TodaysBirtdays',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'Image',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display') {
                                var src = '@imageSource' + '/' + data;
                                return '<img src="' + src + '"  title = "' + full["Name"] + '" / style="max-width: 100%; max-height: 50px">';
                            }
                            return '';
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display') {
                                var url = '@Url.Action("Details", "Person")' + '/' + data;
                                return '<a href="' + url + '" title="ansehen">' + full["Name"];
                            }
                            return '';
                        }
                    },
                    { data: 'ActorsAge' },
                    { data: 'Nationality.Name' },
                    { data: 'PersonType.Name' },
                    { data: 'Sex.Name' },
                ],
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                iDisplayLength: 5,
                layout: {
                    topStart: 'pageLength',
                    topEnd: 'paging',
                    bottomEnd: 'info',
                    bottomStart: null
                },
                responsive: true,
            });
            $('#obitTable').DataTable({
                ordering: true,
                ajax: {
                    url: appRootPath + '/api/PersonApi/TodaysObits',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'Image',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display') {
                                var src = '@imageSource' + '/' + data;
                                return '<img src="' + src + '"  title = "' + full["Name"] + '" / style="max-width: 100%; max-height: 50px">';
                            }
                            return '';
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display') {
                                var url = '@Url.Action("Details", "Person")' + '/' + data;
                                return '<a href="' + url + '" title="ansehen">' + full["Name"];
                            }
                            return '';
                        }
                    },
                    { data: 'ActorsAge' },
                    { data: 'Nationality.Name' },
                    { data: 'PersonType.Name' },
                    { data: 'Sex.Name' },
                ],
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                iDisplayLength: 5,
                // layout: {
                //     topStart: 'pageLength',
                //     topEnd: 'paging',
                //     bottomEnd: 'info',
                //     bottomStart: null
                // },
                responsive: true,
                //dom: 'lpftrip',
            });
        })
    </script>
}