@model IEnumerable<Movies>

@{
    ViewData["Title"] = "Home Page";
    var imageSource = ViewData["ImageSource"];
}

<div class="container-fluid">
    <h2>Willkommen</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:blue; background-image: linear-gradient(to right, aliceblue, white); "><b>Neu</b></h5>
                    <div>
                        <table class="table table-striped" id="homeIndex">
                            <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Genre</th>
                                    <th>Daten-<br />träger</th>
                                    <th>Lager-<br />ort</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                                        <td>
                                            <a asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RecordCarrier.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StorageLocation.Name)</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:forestgreen; background-image: linear-gradient(to right, aliceblue, white)">Heutige Geburtstage</h5>
                    <table class="table table-striped compact nowrap" id="birthdayTable">
                        <thead>
                            <tr>
                                <th style="width:40px">&nbsp;</th>
                                <th>Name</th>
                                <th>Aktuelles Alter</th>
                                <th>Nationalität</th>
                                <th>Rolle</th>
                                <th>Geschlecht</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" style="color:dimgrey; background-image: linear-gradient(to right, aliceblue, white)">Heutige Todestage</h5>
                    <table class="table table-striped compact" id="obitTable">
                        <thead>
                            <tr>
                                <th style="width:40px">&nbsp;</th>
                                <th>Name</th>
                                <th>Aktuelles Alter</th>
                                <th>Nationalität</th>
                                <th>Rolle</th>
                                <th>Geschlecht</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_DataTableScripts" />
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            $('#homeIndex').DataTable({
                ordering: false,
                ajax: false,
                paging: false,
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
            });
            $('#birthdayTable').DataTable({
                ordering: true,
                ajax: {
                    url: appRootPath + '/api/PersonApi/TodaysBirtdays',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'PersonImages',
                        render: function (data, type) {
                            if (data && data.length > 0  && type === 'display') {
                                var src = '@imageSource/' + data[0].PersonId + '/' + data[0].Name;
                                return '<div class="image-container">'
                                    + '<img src="' + src + '" class="image-small" style="max-height: 50px">'
                                    + '<img src="' + src + '" class="image-large">'
                                    + '</div>';
                            }
                            return '';
                        },
                        type: 'html',
                        orderable: false
                    },
                    {
                        data: 'Name',
                        render: function (data, type, full) {
                            if (data && type === 'display') {
                                var url = '@Url.Action("Details", "Person")' + '/' + full["Id"];
                                return '<a href="' + url + '" title="ansehen">' + full["Name"];
                            }
                            return '';
                        },
                        type: 'html'
                    },
                    { 
                        data: 'ActorsAge',
                        type: 'num'
                    },
                    { 
                        data: 'Nationality.Name',
                        type: 'html'
                    },
                    { 
                        data: 'PersonType.Name',
                        type: 'html'
                    },
                    {   
                        data: 'Sex.Name',
                        type: 'html'
                    },
                ],
                order: [[4, 'asc'],[2, 'desc'],[1, 'asc']],
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                iDisplayLength: 5,
                layout: {
                    topStart: 'pageLength',
                    topEnd: 'paging',
                    bottomEnd: 'info',
                    bottomStart: null
                },
                responsive: true,
                stateSave: true,
                stateSaveCallback: function (settings, data) {
                    var dataTableConfigs = JSON.parse(sessionStorage.getItem("dataTableConfigs") || '{}');
                    dataTableConfigs[settings.sTableId] = data;
                    sessionStorage.setItem('dataTableConfigs', JSON.stringify(dataTableConfigs));
                },
                stateLoadCallback: function (settings, callback) {
                    var restoreFilter = window.location.href.slice(window.location.href.indexOf('?') + 1)
                        .split('&')
                        .filter(function (param) {
                            return param.toLowerCase().indexOf('restorefilter') === 0;
                        }).length > 0;
                    if (restoreFilter) {
                        var dataTableConfigs = JSON.parse(sessionStorage.getItem("dataTableConfigs") || '{}');
                        if (dataTableConfigs[settings.sTableId]) {
                            return dataTableConfigs[settings.sTableId];
                        }
                    }
                    return null;
                },
            });

            $('#birthdayTable tbody').on('mouseenter', '.image-container', function () {
                onMouseEnter(this);
            });

            $('#birthdayTable tbody').on('mouseleave', '.image-container', function () {
                onMouseLeave(this);
            });

            $('#obitTable').DataTable({
                ordering: true,
                ajax: {
                    url: appRootPath + '/api/PersonApi/TodaysObits',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'PersonImages',
                        render: function (data, type, full, meta) {
                            if (data && data.length > 0 && type === 'display') {
                                var src = '@imageSource/' + data[0].PersonId + '/' + data[0].Name;
                                return '<div class="image-container">'
                                    + '<img src="' + src + '" class="image-small" style="max-height: 50px">'
                                    + '<img src="' + src + '" class="image-large">'
                                    + '</div>';
                            }
                            return '';
                        },
                        type: 'html',
                        orderable: false
                    },
                    {
                        data: 'Id',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display') {
                                var url = '@Url.Action("Details", "Person")' + '/' + data;
                                return '<a href="' + url + '" title="ansehen">' + full["Name"];
                            }
                            return '';
                        }
                    },
                    { data: 'ActorsAge' },
                    { data: 'Nationality.Name' },
                    { data: 'PersonType.Name' },
                    { data: 'Sex.Name' },
                ],
                searching: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                iDisplayLength: 5,
                order: [[1, 'asc']],
                // layout: {
                //     topStart: 'pageLength',
                //     topEnd: 'paging',
                //     bottomEnd: 'info',
                //     bottomStart: null
                // },
                responsive: true,
                //dom: 'lpftrip',
            });

            $('#obitTable tbody').on('mouseenter', '.image-container', function () {
                onMouseEnter(this);
            });

            $('#obitTable tbody').on('mouseleave', '.image-container', function () {
                onMouseLeave(this);
            });
        })
    </script>
}