@model MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfPublication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Added)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Added)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnWatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnWatch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThreeD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThreeD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IMDB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IMDB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastView)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastView)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecordCarrier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordCarrier.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StorageLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StorageLocation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
