@model global::MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RunTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RunTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Genre.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.YearOfPublication)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.YearOfPublication)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InStock)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.InStock)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OnWatch)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnWatch)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IMDB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IMDB)
                    </dd>
                    <dt>
                        Zur Datenbank hinzugefügt:
                    </dt>
                    <dd>
                        @if (Model.Added == null || Model.Added == DateTime.MinValue)
                        {
                            @Html.DisplayFor(moddel => Model.CreateDate)
                        }
                        else
                        {
                            @Html.DisplayFor(moddel => Model.Added)
                        }
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Adult)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adult)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ThreeD)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ThreeD)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Owner)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Owner)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ranking)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Ranking)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastView)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastView)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RecordCarrier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RecordCarrier.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StorageLocation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StorageLocation.Name)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    <h4>Darsteller</h4>
    <table class="table hover" id="movieDetails">
        <thead>
            <tr>
                <th>Name</th>
                <th>Geschlecht</th>
                <th>Alter beim Dreh</th>
                <th>Praxis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var item in Model.MoviesPerson)
            {
                <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                    <td>
                        <a asp-controller="Person" asp-action="Details" asp-route-id="@item.Person.Id">
                            @if (item.Person.Classification != null && item.Person.Classification < 8)
                            {
                                <b>@Html.DisplayFor(modelItem => item.Person.Name)</b>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Person.Name)
                            }
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Sex.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.ActorsAge)
                    </td>
                    <td>
                        @if (item.Practices != null)
                        {
                            @Html.DisplayFor(modelItem => item.Practices)
                        }
                        else
                        {
                            if (item.MovieRole != null)
                            {
                                @Html.DisplayFor(modelItem => item.MovieRole.Name)
                            }
                        }
                    </td>
                    <td>
                        <form>
                            @* <button name="id" style="background-color: transparent; color: red; border: hidden" value="@item.Id" asp-action="DeleteLink">Verknüpfung entfernen</button> *@
                            <button name="id" style="background-color: transparent; color: red; border: hidden" onClick="deleteLink(' + @item.Id + ')">Verknüpfung entfernen</button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    @if (Model.Scenes != null && Model.Scenes.Any())
    {
        <h4>Szenen Aufschlüsselung</h4>
        <table class="table">
            <tbody>
                @{
                    i = 0;
                }
                @foreach (var scene in Model.Scenes.GroupBy(g => g.Nr).OrderBy(o => o.Key))
                {
                    <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                        <td>
                            Szene @Html.DisplayTextFor(model => scene.Key):&nbsp;
                            @{
                                var s = Model.Scenes.Where(w => w.Nr == scene.Key).OrderBy(o => o.Classification).ThenBy(o => o.Name).ToList();
                            }
                            @foreach (var t in s)
                            {
                                if (t.Classification < 8)
                                {
                                    <b>
                                        @Html.DisplayTextFor(model => t.Name)
                                    </b>
                                }
                                else
                                {
                                    @Html.DisplayTextFor(model => t.Name)

                                }
                                <text>
                                    &nbsp
                                </text>
                            }
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@* <output></output> *@
<script src="~/js/sweetalert2.js"></script>
@section Scripts
{
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#movieDetails').DataTable({
                ordering: true,
                lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                iDisplayLength: -1,
                fixedHeader: {
                    header: true,
                    footer: false
                }
            });
        });

        function deleteLink(id, e) 
        {
            if (confirm('Verknüpfung löschen?') == true) {
                var url = 'Movies/DeleteLink/' + id;
                $.post(url);
                $('#movieDetails').DataTable().ajax.reload();
            };
            // Swal.fire({
            //     title: 'Verknüpfung löschen?',
            //     showCancelButton: true,
            //     confirmButtonColor: '#3085d6',
            //     cancelButtonColor: '#d33',
            //     confirmButtonText: 'Ja',
            //     cancelButtonText: 'Nein'
            // }).then(function(result) {
            //     if (result.value) {
            //         var url = 'MeasurementDevices/Delete/' + id;
            //     };
            // });
        };



    </script>
}