@model global::MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <input type="hidden" value="@Model.Id" id="movieID"/>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RunTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RunTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Genre.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.YearOfPublication)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.YearOfPublication)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InStock)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.InStock)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OnWatch)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnWatch)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IMDB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IMDB)
                    </dd>
                    <dt>
                        Zur Datenbank hinzugefügt:
                    </dt>
                    <dd>
                        @if (Model.Added == null || Model.Added == DateTime.MinValue)
                        {
                            @Html.DisplayFor(moddel => Model.CreateDate)
                        }
                        else
                        {
                            @Html.DisplayFor(moddel => Model.Added)
                        }
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Adult)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adult)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ThreeD)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ThreeD)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Owner)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Owner)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ranking)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Ranking)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastView)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastView)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RecordCarrier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RecordCarrier.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StorageLocation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StorageLocation.Name)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    <h4>Darsteller</h4>
    <table class="table hover cell-border compact stripe"" id="movieDetails">
        <thead>
            <tr>
                <th>Name</th>
                <th>Geschlecht</th>
                <th>Alter beim Dreh</th>
                <th>Praxis</th>
                <th></th>
            </tr>
        </thead>
@*         <tbody>
            @{
                var i = 0;
            }
            @foreach (var item in Model.MoviesPerson)
            {
                <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                    <td>
                        <a asp-controller="Person" asp-action="Details" asp-route-id="@item.Person.Id">
                            @if (item.Person.Classification != null && item.Person.Classification < 8)
                            {
                                <b>@Html.DisplayFor(modelItem => item.Person.Name)</b>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Person.Name)
                            }
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Sex.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.ActorsAge)
                    </td>
                    <td>
                        @if (item.Practices != null)
                        {
                            @Html.DisplayFor(modelItem => item.Practices)
                        }
                        else
                        {
                            if (item.MovieRole != null)
                            {
                                @Html.DisplayFor(modelItem => item.MovieRole.Name)
                            }
                        }
                    </td>
                    <td>
                        <button name="id" style="background-color: transparent; color: red; border: hidden" onClick="deleteLink('@item.Id')">Verknüpfung entfernen</button>
                    </td>
                </tr>
                i++;
            }
        </tbody> *@
    </table>
    @if (Model.Scenes != null && Model.Scenes.Any())
    {
        <h4>Szenen Aufschlüsselung</h4>
        <table class="table">
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var scene in Model.Scenes.GroupBy(g => g.Nr).OrderBy(o => o.Key))
                {
                    <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                        <td>
                            Szene @Html.DisplayTextFor(model => scene.Key):&nbsp;
                            @{
                                var s = Model.Scenes.Where(w => w.Nr == scene.Key).OrderBy(o => o.Classification).ThenBy(o => o.Name).ToList();
                            }
                            @foreach (var t in s)
                            {
                                if (t.Classification < 8)
                                {
                                    <b>
                                        @Html.DisplayTextFor(model => t.Name)
                                    </b>
                                }
                                else
                                {
                                    @Html.DisplayTextFor(model => t.Name)

                                }
                                <text>
                                    &nbsp
                                </text>
                            }
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@* <output></output> *@
<script src="~/js/sweetalert2.js"></script>
@section Scripts
{
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            const movieId = '@Model.Id';
            $('#movieDetails').DataTable({
                ajax: {
                    url: appRootPath + '/api/MoviesApi/' + movieId,
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'Person',
                        render: function (data, type, full, meta) {
                            if (data && type === 'display'){
                                var url = '@Url.Action("Edit", "MeasurementDevices")' + '/' + data;
                                return '<a asp-controller="Person" asp-action="Details" asp-route-id="' + data.Id + '" >' + data.Name + '</a>';
                            }
                            return '';
                        }
                    },

                    { data: 'Person.Sex.Name' },
                    { data: 'Person.ActorsAge' },
                    {
                        data: 'Practices',
                        render: function (data, type, full, meta) { 
                            if (type === 'display') {
                                if (data) {
                                    return full["Practices"];
                                }
                                else if (full['MovieRole']) {
                                    return full['MovieRole'].Name;
                                }
                                return "";
                            }
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data, type, full, meta) { 
                            if (data && type === 'display') {
                                var id = "'" + data + "'";
                                return '<button name="id" style="background-color: transparent; color: red; border: hidden" onClick="deleteLink(' + id + ')">Verknüpfung entfernen</button>'
                            }
                            return '';
                        },
                        searchable: false,
                        width: '15%'
                    }
                                ],
                    ordering: true,
                    lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                    iDisplayLength: -1,
                    fixedHeader: {
                    header: true,
                    footer: false
                    },
                    columnDefs: [
                    {
                        targets: -1,
                        className: 'compact'
                    }
                ]
            });
        });

        function deleteLink(id) {
            Swal.fire({
                title: 'Verknüpfung löschen?',
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ja',
                cancelButtonText: 'Nein'
            }).then(function (result) {
                if (result.value) {
                    var url = appRootPath + '/api/MoviesApi/' + id;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        async: false,
                        statusCode: {
                            404: function () {
                                alert("page not found");
                            }
                        },
                        success: function () {
                            $('#movieDetails').DataTable().ajax.reload();
                            Swal.fire({
                                position: 'top-end',
                                type: 'success',
                                text: 'Verknüpfung erfolgreich gelöscht.',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        },
                    })
                };
            });
        };
    </script>
}