@model MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RunTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RunTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Genre.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.YearOfPublication)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.YearOfPublication)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InStock)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.InStock)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Added)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Added)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OnWatch)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnWatch)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IMDB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IMDB)
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Adult)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adult)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ThreeD)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ThreeD)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Owner)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Owner)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ranking)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Ranking)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastView)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastView)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RecordCarrier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RecordCarrier.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StorageLocation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StorageLocation.Name)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    <h4>Darsteller</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Geschlecht</th>
                <th>Alter bein Dreh</th>
                <th></th>
                <th></th>
            </tr>
            @{
                var i = 0;
            }
            @foreach (var item in Model.MoviesPerson)
            {
                <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                    <td>
                        <a asp-controller="Person" asp-action="Details" asp-route-id="@item.Person.Id">
                            @Html.DisplayFor(modelItem => item.Person.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Sex.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.ActorsAge)
                    </td>
                    <td>
                        @if (item.Practices != null)
                        {
                            @Html.DisplayFor(modelItem => item.Practices)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.MovieRole.Name)
                        }
                    </td>
                    <td>
                        <form>
                            <button name="id" style="background-color: transparent; color: red; border: hidden" value="@item.Id" asp-action="DeleteLink">Verknüpfung entfernen</button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    @if (Model.Scenes != null && Model.Scenes.Any())
    {
        <h4>Szenen Aufschlüsselung</h4>
        <table class="table">
            <tbody>
                @{
                    i = 0;
                }
                @foreach (var scene in Model.Scenes)
                {
                    <tr style="background-color:@(i % 2 == 0 ? "lightblue" : "lightgray")">
                        <td>
                            @Html.DisplayFor(model => scene)
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>