@using ReflectionIT.Mvc.Paging
@model IEnumerable<MvcMoviesCore.Models.Movies>
@*@model ReflectionIT.Mvc.Paging.PagingList<global::MvcMoviesCore.Models.Movies>*@
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width: 100%; word-wrap:break-word; table-layout: auto;" id="movieIndex">
    <thead>
        <tr>
            <th>
                Film
            </th>
            <th>
                Erscheinungsjahr
            </th>
            <th>
                Vorhanden
            </th>
            <th>
                3D
            </th>
            <th>
                zuletzt gesehen
            </th>
            <th>
                Genre
            </th>
            <th>
                Speichermedium
            </th>
            <th>
                Speicherort
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreeD)
                </td>
                <td>        

                    @Html.DisplayFor(modelItem => item.LastView)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordCarrier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageLocation.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <partial name="_DataTableScripts" />

    <script>
        $(document).ready(function () {
            $('#movieIndex').DataTable({
                ordering: true,
                createdRow: function (row, data, dataIndex) {
                    if (data['adult'] === false) {
                        $(row).css("background-color", "green");
                    }
                },
                fixedHeader: {
                    header: true,
                    footer: false
                }
            });
        })
    </script>
}